h1,h2,h5{color:#fff;text-align:center}ol,p,ul{color:#fff;margin:40px;text-align:justify;text-justify:inter-word}a:visited{color:orange}p.piePagina{font-size:70%;color:#fff;text-align:right;margin-bottom:10px}p.preguntas{font-weight:700;color:orange}*{f
 font-family:Arial}html{background:green center center no-repeat fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}