<div class="row">
    <form class="col s12" action="guardar.php" method="POST">
    
         <?php if(isset($registro)): ?>
            <input name="id" id="id" type="hidden" value="<?=$registro["id"];?>">
        <?php endif; ?>
        
      <div class="row">
        <div class="input-field col s12">
          <input id="firstName" name="nombre" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["nombre"] ?>">
          <label for="nombre">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input  id="numeroJugador" name="numeroJugador" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["numeroJugador"] ?>">
          <label for="numeroJugador">NumeroJugador</label>
        </div>
      </div>
        <div class="input-field col s12">
          <input id="altura" name="altura" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["altura"] ?>">
          <label for="numeroJugador">Altura</label>
          <div id="ajaxResponse"></div>
        </div>

        <div class="input-field col s12">
          <input onkeypress="sendRequest()" id="nacionalidad" name="nacionalidad" type="text" class="validate" required value="<?php if(isset($registro)) echo $registro["nacionalidad"] ?>">
          <label for="nacionalidad">Nacionalidad</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input class="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
        </div>
      </div>
    </form>
  </div>