*{

	text-align: center;
	color:black;

}
body{

	background-color: white;

}


h4{

	text-align: center;

}

li{
	display: table-cell row;
    height: 20px;
    list-style-type: square;
    margin: 0px;
}

.nota{
	color:blue;
}
.titulo{

	color:white;

}


.pregunta{
color:blueviolet;

}
.propietario{
	color: gray;

}

#watermark
{
	z-index:-1;
	opacity: 0.5;
    color:lightgrey;
    font-size:230px;
    transform:rotate(30deg);
     position: fixed; 
  
}

#caja{

background-color:  orange;

width:400px; 

border:1px solid white;

margin:auto;

	}


#progreso{
  width: 100%;
  height: 30px;
  position: relative;
  background-color: white;
}

#carga {
  background-color: blue;
  width: 10px;
  height: 30px;
  position: absolute;
}

#div1 {
	background-color:  orange;
    width: 400px;
    height: 70px;
    padding: 10px;
    margin:auto;
    border: 1px solid #aaaaaa;
}